.cell {
    -fx-border-color: #000000;
    -fx-border-width: 0.1px;
}
.cell-highlight {
    -fx-background-color:derive(#b2b3b3,4%);
}
.cell-hover-highlight {
    -fx-background-color:derive(#b2b3b3,4%);
}
.cell-start {
    -fx-background-color:derive(#24b30d,4%);
}
.cell-goal {
    -fx-background-color:derive(#1b1cb3,4%);
}
.cell-visited {
    -fx-background-color:derive(#7a95b3,4%);
}

.cell-path {
    /*-fx-background-color:derive(#b30500,4%);*/
    -fx-border-width: 2px;
}